.login {
  display: grid;
  place-items: center;
  height: 100vh;
}

.login__logo {
  width: 150px;
  object-fit: contain;
}

.login__button {
  width: 250px;
  border: none;
  padding: 15px;
  background-color: #2e81f4;
  color: #eff2f5;
  font-weight: 800;
}

.login__button:hover {
  background-color: white;
  color: #2e81f4;
}
